body {
  font-size: 16px;
  margin: 0;
  background-color: rgb(20, 20, 20);
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  text-align: center;
}

/* Styling for Header and Navbar */

.title {
  background-color: rgb(20, 20, 20);
  margin: 0 auto;
}

#title-hi {
  font-family: "Russo One", sans-serif;
  margin: 0 auto;
  background: radial-gradient(ellipse at top, #f396ff, transparent),
    radial-gradient(ellipse at bottom, #5dffe4, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.topnav {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    transparent,
    transparent,
    rgb(50, 50, 50),
    transparent,
    transparent
  );
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  overflow: hidden;
  z-index: 5;
  border-start-end-radius: 50px;
  border-start-start-radius: 50px;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav a {
  text-decoration: none;
  color: white;
  padding: 0 2rem;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: greenyellow;
  color: rgb(20, 20, 20);
}

.topnav li {
  display: inline;
}

@media screen and (max-width: 761px) {
  .topnav {
    font-size: 1.5rem;
  }
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 659px) {
  .title h1 {
    font-size: 3rem;
  }

  .container h1 {
    font-size: 2rem;
  }

  #intro.h1-background-line {
    margin-top: 112px;
  }
  .topnav a {
    width: 100%;
  }

  .topnav a:hover {
    background-color: transparent;
  }

  @media screen and (max-width: 450px) {
    .title h1 {
      font-size: 2.5rem;
      padding: 10px 0;
    }
  }

  .topnav ul {
    display: none;
  }

  .menu-icon {
    display: block;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
  }

  .menu-icon:hover {
    background-color: greenyellow;
  }

  .menu-icon-bars {
    background-color: white;
    width: 4rem;
    height: 0.25rem;
    margin: 10px;
    border-radius: 10px;
  }

  .menu-icon:hover .menu-icon-bars {
    background-color: rgb(20, 20, 20);
  }

  .members h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 415px) {
  h2 {
    font-size: 1.5rem;
  }
}

/* Styling for topnav on small screens */

/*For fade in animations*/
@keyframes menuFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.topnav.responsive ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 100%;
  background: linear-gradient(
    90deg,
    rgb(73, 73, 73),
    rgb(20, 20, 20),
    rgb(73, 73, 73)
  );
  margin-top: 62px;
  animation: menuFade 500ms ease-in-out forwards;
  z-index: 3;
  position: absolute;
}

.topnav.responsive ul li {
  border: 1px solid rgb(121, 121, 121);
  border-style: none none solid none;
  padding: 10px 100%;
  position: relative;
}

.topnav.responsive li:hover {
  background: linear-gradient(90deg, transparent, greenyellow, transparent);
  animation: menuFade 400ms ease-in-out forwards;
}

.topnav.responsive li:hover a {
  color: rgb(20, 20, 20);
}

.topnav.responsive a {
  font-size: 2.55rem;
}

/* Styling for Intro Section */

.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#intro.container {
  background-image: url(./images/ps4_controller.jpg);
}

.container h1 {
  position: relative;
  font-family: "Orbitron", sans-serif;
  color: white;
  padding: 100px 0;
  margin: 0;
  z-index: 2;
}

.container-footer {
  width: 100%;
  height: 39px;
  background: radial-gradient(ellipse at top, #3f3f3f, transparent),
    radial-gradient(ellipse at bottom, #7a7a7a, transparent);
  opacity: 80%;
}

.h1-background-line {
  position: fixed;
  background: linear-gradient(
    90deg,
    transparent,
    greenyellow,
    greenyellow,
    transparent
  );
  width: 100%;
  height: 20px;
  z-index: 1;
  margin-top: 134px;
  opacity: 20%;
}

/*Styling for Statement Section*/

#statement.container {
  background-image: url(./images/fortnite_kid_pc.jpg);
}

#statement h1 {
  font-size: 2.5rem;
}

#statement.h1-background-line {
  background: linear-gradient(
    90deg,
    transparent,
    rgb(29, 29, 29),
    rgb(29, 29, 29),
    rgb(29, 29, 29),
    transparent
  );
  height: 40px;
  opacity: 60%;
  margin-top: 109px;
}

@media screen and (max-width: 1142px) {
  #statement.h1-background-line {
    height: 85px;
  }
}

@media screen and (max-width: 589px) {
  #statement.h1-background-line {
    height: 110px;
  }
  #statement h1 {
    font-size: 2rem;
  }
}

/* Styling for members page */

.members {
  display: flex;
  flex-flow: column nowrap;
  background-image: url(./images/e_sport.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
}

.members h1 {
  font-family: "Russo One", sans-serif;
  color: black;
  background: linear-gradient(90deg, transparent, white, transparent);
  margin: 20px auto;
  width: 100%;
}

.member-profile {
  background: linear-gradient(greenyellow, rgb(223, 255, 171));
  margin: 10px auto;
  border: 10px solid white;
  border-style: none solid;
  border-radius: 10px;
  width: 70%;
  opacity: 0;
}

.member-profile:hover {
  background: linear-gradient(rgb(201, 201, 201), rgb(172, 172, 172));
}

#a {
  animation: menuFade 900ms ease-in-out forwards;
  animation-delay: 150ms;
}

#b {
  animation: menuFade 900ms ease-in-out forwards;
  animation-delay: 550ms;
}

#c {
  animation: menuFade 900ms ease-in-out forwards;
  animation-delay: 950ms;
}
